SHOPIFY_STORE_DOMAIN=shopify_store_domain
SHOPIFY_STOREFRONT_ACCESS_TOKEN=shopify_storefront_access_token
SMTP_HOST=smtp_host
SMTP_PORT=smtp_port
SMTP_USER=smtp_user
SMTP_PASSWORD=smtp_password
CONTACT_EMAIL=contact_email
JUDGEME_PRIVATE_API_TOKEN=judgme_api_token
REVALIDATE_SECRET=revalidate_secret
