@import 'tailwindcss';

@theme {
	--color-orange: #c04a00;
	--color-yellow: #ffdf5e;
	--color-brown: #722c00;
	--color-light-brown: #caae84;
	--color-lighter-brown: #d9c197;
	--color-light-yellow: #fff4c6;
	--color-light-green: #9da855;
	--color-red: #d64545;
	--color-green: #6fae6a;
	--color-blue: #5b8def;
	--color-dark-yellow: #f4b740;
	--color-muted-gray: #c4b49a;

	--breakpoint-xxs: 22.5rem;
	--breakpoint-xs: 30rem;
	--default-transition-duration: 300ms;
	--shadow-border: 0 0 4px -1px rgba(114, 44, 0, 0.25);
}

@theme inline {
	--font-sans: var(--font-inter);

	--color-primary: var(--color-orange);
	--color-primary-foreground: var(--color-light-yellow);

	--color-secondary: var(--color-yellow);
	--color-secondary-foreground: var(--color-brown);

	--color-background: var(--color-light-yellow);
	--color-background-foreground: var(--color-brown);

	--color-danger: var(--color-red);
	--color-danger-foreground: var(--color-light-yellow);

	--color-success: var(--color-green);
	--color-success-foreground: var(--color-light-yellow);

	--color-info: var(--color-blue);
	--color-info-foreground: var(--color-light-yellow);

	--color-warning: var(--color-dark-yellow);
	--color-warning-foreground: var(--color-brown);

	--color-disabled: var(--color-muted-gray);
	--color-disabled-foreground: var(--color-light-yellow);

	--color-surface: var(--color-light-brown);
	--color-surface-foreground: var(--color-light-yellow);

	--color-border: var(--color-lighter-brown);

	--color-leaf: var(--color-light-green);
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: default;
}

.container {
	width: 100%;
	margin: 0 auto;
	padding-inline: 16px;
}

.container-xs {
	max-width: 800px;
}

.container-sm {
	max-width: 1056px;
}

.container-md {
	max-width: 1312px;
}

.container-lg {
	max-width: 1472px;
}
